<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for photo in photos %}
    {% if photos|length > 0 %}
    <div>
        <h1>{{ photo.name }}</h1>
        <img src="{{ url_for('static', filename='uploads/photos/'+photo.photo_filename) }}" alt="{{ photo.photo_filename }}" width="200px" >
        {% if photo.doc_filename is not none %} <a href="{{ url_for('lihat_data', id=photo.id) }}" target="_blank">Download</a> | <a href="{{ url_for('edit', id=photo.id) }}">Edit</a> | <a href="{{ url_for('hapus', id=photo.id) }}">hapus</a>
        {% else %} <a href="{{ url_for('edit', id=photo.id) }}">Edit</a> | <a href="{{ url_for('hapus', id=photo.id) }}">hapus</a> {% endif %}
    </div>
    {% else %}
    <h1>None</h1>
    {% endif %}
    {% endfor %}
    
</body>
</html>