<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for d in data %}
    {% if data|length > 0 %}
    <div>
        <h1>{{ d.name }}</h1>
        <img src="{{ url_for('load_gambar3', filename=d.photo_filename) }}" alt="{{ d.photo_filename }}" width="200px" >
        {% if d.doc_filename is not none %} <a href="{{ url_for('lihat_data', filename=d.doc_filename) }}" target="_blank">Download</a> | <a href="{{ url_for('load_gambar3', filename=d.photo_filename) }}">Gambar</a> | <a href="{{ url_for('edit', id=d.id) }}">Edit</a> | <a href="{{ url_for('hapus', id=d.id) }}">hapus</a>
        {% else %} <a href="{{ url_for('edit', id=d.id) }}">Edit</a> | <a href="{{ url_for('hapus', id=d.id) }}">hapus</a> {% endif %}
    </div>
    {% else %}
    <h1>None</h1>
    {% endif %}
    {% endfor %}
    
</body>
</html>